# Root folder of this turbo monorepo
# Doesn't send useless context to Docker daemon
.git
.github
about
docker
!docker/db/**
examples
i18n
**/node_modules
apps/docs/spec
supabase
tests

**/.next
!apps/studio/.next/standalone/**
!apps/studio/.next/static/**
.vercel
**/.env.*

.dockerignore
apps/studio/Dockerfile
